# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Check for EESSI init shell scripts to load eessi software module in software.eessi.io
on:
  push:
    branches: [ "*-software.eessi.io" ]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        EESSI_VERSION:
          - 2023.06
        EESSI_SOFTWARE_SUBDIR_OVERRIDE:
          - x86_64/haswell
    steps:
      - name: Check out software-layer repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Mount EESSI CernVM-FS pilot repository
        uses: cvmfs-contrib/github-action-cvmfs@55899ca74cf78ab874bdf47f5a804e47c198743c # v4.0
        with:
          cvmfs_config_package: https://github.com/EESSI/filesystem-layer/releases/download/latest/cvmfs-config-eessi_latest_all.deb
          cvmfs_http_proxy: DIRECT
          cvmfs_repositories: software.eessi.io
         
      - name: Clone assert.sh script
        run: git clone https://github.com/lehmannro/assert.sh.git

      - name: Install missing shells
        run: |
          sudo apt update
          sudo apt install zsh ksh fish
          echo "# INIT ZSH" > ~/.zshrc

      - name: Run tests for available shells
        run: |
          .github/workflows/scripts/test_init_scripts.sh "bash" "zsh" "ksh" "fish"

