# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Tests for scripts
on:
  push:
    paths:
      - build_container.sh
      - install_software_layer.sh
      - run_in_compat_layer_env.sh
      - utils.sh
      - update_lmod_cache.sh

  pull_request:
    branches:
      - main
    paths:
      - build_container.sh
      - install_software_layer.sh
      - run_in_compat_layer_env.sh
      - utils.sh
      - update_lmod_cache.sh
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: install Apptainer
      run: |
        ./install_apptainer_ubuntu.sh

    - name: test install_software_layer.sh script
      run: |
          # scripts need to be copied to /tmp,
          # since install_software_layer.sh must be accessible from within build container
          cp -a * /tmp/
          cd /tmp
          # force using x86_64/generic, to avoid triggering an installation from scratch
          sed -i "s@./EESSI-pilot-install-software.sh@\"export EESSI_SOFTWARE_SUBDIR_OVERRIDE='x86_64/generic'; ./EESSI-pilot-install-software.sh\"@g" install_software_layer.sh
          ./build_container.sh run /tmp/$USER/EESSI /tmp/install_software_layer.sh
