# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Tests for scripts
on:
  push:
    paths:
      - build_container.sh
      - create_directory_tarballs.sh
      - EESSI-pilot-install-software.sh
      - install_software_layer.sh
      - load_easybuild_module.sh
      - run_in_compat_layer_env.sh
      - scripts/utils.sh
      - update_lmod_cache.sh

  pull_request:
    branches:
      - main
    paths:
      - build_container.sh
      - create_directory_tarballs.sh
      - EESSI-pilot-install-software.sh
      - install_software_layer.sh
      - load_easybuild_module.sh
      - run_in_compat_layer_env.sh
      - scripts/utils.sh
      - update_lmod_cache.sh
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: install Apptainer
      run: |
        ./install_apptainer_ubuntu.sh

    - name: test load_easybuild_module.sh script
      run: |
        export TMPDIR=$(mktemp -d)

        # run tests from /tmp where scripts were copied into,
        # since scripts must be accessible from within build container
        cp -a * /tmp/
        cd /tmp

        for EB_VERSION in '4.5.0' '4.5.1' '4.7.2'; do
          # Create script that uses load_easybuild_module.sh which we can run in compat layer environment
          # note: Be careful with single vs double quotes below!
          #       ${TMPDIR} and ${EB_VERSION} should be expanded, so use double quotes;
          #       For statements using variables that are only defined in the script, like ${EASYBUILD_INSTALLPATH},
          #       use single quotes to avoid expansion while creating the script.
          test_script="${TMPDIR}/eb-${EB_VERSION}.sh"
          echo '#!/bin/bash' > ${test_script}
          # both $EB and $TMPDIR environment must be set, required by load_easybuild_module.sh script
          echo 'export EB="eb"' >> ${test_script}
          echo "export TMPDIR=${TMPDIR}" >> ${test_script}
          # set up environment to have utility functions in place that load_easybuild_module.sh script relies on,
          # along with $EESSI_* environment variables, and Lmod
          echo 'source /tmp/scripts/utils.sh' >> ${test_script}
          echo 'source /tmp/init/eessi_environment_variables' >> ${test_script}
          echo 'source ${EPREFIX}/usr/share/Lmod/init/bash' >> ${test_script}
          # minimal configuration for EasyBuild so we can test installation aspect of load_easybuild_module.sh script
          echo "export EASYBUILD_INSTALLPATH=${TMPDIR}" >> ${test_script}
          echo 'module use ${EASYBUILD_INSTALLPATH}/modules/all' >> ${test_script}
          echo '' >> ${test_script}
          echo "source /tmp/load_easybuild_module.sh ${EB_VERSION}" >> ${test_script}
          echo 'module list' >> ${test_script}
          echo 'eb --version' >> ${test_script}

          chmod u+x ${test_script}

          # run wrapper script + capture & check output
          out="${TMPDIR}/eb-${EB_VERSION}.out"
          ./build_container.sh run /tmp/$USER/EESSI /tmp/run_in_compat_layer_env.sh ${test_script} 2>&1 | tee ${out}
          pattern="^This is EasyBuild ${EB_VERSION} "
          grep "${pattern}" ${out} || (echo "Pattern '${pattern}' not found in output!" && exit 1)
        done

    - name: test install_software_layer.sh script
      run: |
          # scripts need to be copied to /tmp,
          # since install_software_layer.sh must be accessible from within build container
          cp -a * /tmp/
          cd /tmp
          # force using x86_64/generic, to avoid triggering an installation from scratch
          sed -i "s@./EESSI-pilot-install-software.sh@\"export EESSI_SOFTWARE_SUBDIR_OVERRIDE='x86_64/generic'; ./EESSI-pilot-install-software.sh\"@g" install_software_layer.sh
          ./build_container.sh run /tmp/$USER/EESSI /tmp/install_software_layer.sh

    - name: test create_directory_tarballs.sh script
      run: |
          # scripts need to be copied to /tmp,
          # since create_directory_tarballs.sh must be accessible from within build container
          cp -a * /tmp/
          cd /tmp
          ./build_container.sh run /tmp/$USER/EESSI /tmp/create_directory_tarballs.sh 2021.12
          # check if tarballs have been produced
          ls -l *.tar.gz
